# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# SQLite database
*.sqlite3

# OS / editor junk
.DS_Store
.vscode/

# Database
*.db